@page
@model SalesforceIDConverter.Pages.AboutModel
@{
    ViewData["Title"] = "About";
    var titleText = "About the App";
}


<div class="text-center">
    <h1 class="display-4">@(titleText)</h1>
</div>


