@page
@model SalesforceIDConverter.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to App!</h1>
</div>


<div id="input-section" class="mb-2 justify-content-center">
    <div class="pr-2">
        <label for="sfid-input">Salesforce ID: </label>
        <input type="text" id="id-input" name="sfid-input" />
    </div>
    <br />
    <div class="pr-2">
        <label for="sfid-out">Result: </label>
        <input type="text" id="id-output" name="sfid-out" disabled="true" value="" />
    </div>
    <span id="sample-output"></span>
</div>


<div>
    <label>&nbsp;</label>
    <input type="button" class="btn btn-submit" value="Submit" onclick="convertSFID(); return false;" />
    <input type="button" class="btn btn-cancel" value="Clear" onclick="clearInputs(); return false;"/>
</div>

<script src="~/js/converter.js" asp-append-version="true"></script>
<script>
    // Page constants.
    const inputEl = document.querySelector("#id-input");
    const outputEl = document.querySelector("#sample-output");
    const inputSection = document.querySelector("div#input-section");

    // Clear inputs on form.
    function clearInputs() {
        inputSection.querySelectorAll("input").forEach( g => g.value = null );
        inputEl.focus();
    }


    function convertSFID() {
        let newID = IdConverter(inputEl.value);
        document.querySelector("#id-output").value = newID;
    }
 

</script>